@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* color */

  /* type scale */
  --base-size: 1.2rem;
  --scale: 1.3;
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);
  --small: calc(var(--base-size) / var(--scale));
}

@font-face {
  font-family: Miama;
  src: url("./font/miama/Miama.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(34, 34, 34);
  /* background-image: linear-gradient(to bottom, rgb(17, 17, 17) , rgb(119, 119, 119)); */
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
}

/* nav */
.nav {
  padding: 0 10rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.nav h2 {
  font-size: var(--h2);
  font-weight: 700;
  color: rgb(230, 83, 60);
  font-style: italic;
}

.nav ul {
  margin: 3rem 1rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4rem;
  /* width: 50%; */
}

.nav ul li {
  font-size: var(--h5);
  cursor: pointer;
  font-weight: 500;
  margin: 0;
}

.nav ul li:first-child {
  background-color: rgb(230, 83, 60);
  padding: 0.5rem 2rem;
  border-radius: 4rem;
  margin-left: 0.2rem;
}

.nav ul li:last-child {
  margin-right: 2rem;
}

nav span {
  display: none;
}

/* hero */
.hero_container {
  margin: 2rem 0;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero_container img {
  margin-bottom: 4rem;
}

.hero_container .hero_content h1 {
  font-size: calc(var(--h1) * 1.7);
  font-weight: 800;
}
.hero_container .hero_content h1 span {
  font-family: Miama;
  font-weight: normal;
}

.hero_container .hero_content p {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.5rem;
  font-weight: 100;
}

.hero_container .btn_container {
  margin-top: 2rem;
}

.btn {
  font-size: var(--h5);
  font-weight: 600;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 2.5rem;
  color: rgb(236, 232, 232);
  background-color: rgb(230, 83, 60);
  cursor: pointer;
}

.hero_container .btn_container .btn:last-child {
  background-color: inherit;
  margin-left: 2rem;
  border: 1px solid rgb(236, 232, 232);
}

.hero_container .video_tutorial .video_content {
  margin-top: -15rem;
  margin-left: -8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: rgba(236, 232, 232, 0.1);
  width: 50%;
  padding: 1rem;
  padding-left: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
}
.hero_container .video_tutorial .video_content .circle {
  content: "";
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: rgb(230, 83, 60);
}

.hero_container .video_tutorials h3,
.hero_container .free_tutorial h3 {
  margin: 0;
  font-size: var(--h3);
  font-weight: 800;
}
.hero_container .video_tutorials p,
.hero_container .free_tutorial p {
  margin: 0;
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.5rem;
  font-weight: 100;
}
.hero_container .video_tutorial .free_tutorial {
  margin-top: -35rem;
  margin-left: 22rem;
  gap: 2rem;
  background-color: rgba(236, 232, 232, 0.1);
  width: 50%;
  padding: 1rem;
  padding-left: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
}

.hero_container .free_tutorial h3 {
  font-size: var(--h2);
}

/* habits */
.habit {
  padding: 0 10rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.habit .habit_content h2,
.habit .habit_content p {
  text-align: center;
}

.habit_content h2 {
  font-size: var(--h2);
}

.habit_content p {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.5rem;
  font-weight: 100;
  margin-bottom: 4rem;
}

.habit .habit_images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8rem;
}

.habit .habit_images img {
  border-radius: 50%;
  text-align: center;
  border: 1px solid rgba(236, 232, 232, 0.1);
}

.box_one_content .box_img,
.box_two_content .box_img,
.box_three_content .box_img,
.box_four_content .box_img {
  text-align: center;
}

.box_one_content h3,
.box_one_content p,
.box_two_content h3,
.box_two_content p,
.box_three_content h3,
.box_three_content p,
.box_four_content h3,
.box_four_content p {
  text-align: center;
}

.box_one_content h3,
.box_two_content h3,
.box_three_content h3,
.box_four_content h3 {
  font-size: var(--h4);
}

.box_one_content p,
.box_two_content p,
.box_three_content p,
.box_four_content p {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.2rem;
  font-weight: 100;
}

/* section run */

.run {
  display: flex;
  gap: 12rem;
  padding: 6rem;
  margin: 0 10rem;
  background-color: rgb(51, 51, 51);
  border-radius: 1rem;
  margin-bottom: 5rem;
  box-shadow: 1px 1px 2px rgba(107, 107, 107, 0.2);
}

.run .run_content h2 {
  font-size: var(--h1);
  margin: 0;
}

.run .run_content p {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.5rem;
  font-weight: 100;
  margin-top: 3.5rem;
}

.run .run_content .btn {
  margin-top: 4rem;
  padding: 1.2rem 4.5rem;
}

.run .run_img {
  width: 48rem;
  /* width: auto; */
}

.run .run_img img {
  width: 100%;
  border-radius: 1rem;
}

/* section bmi */
.bmi {
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.bmi_content h2 {
  margin: 0;
  font-size: var(--h1);
}

.bmi_content p {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.5rem;
  font-weight: 100;
}

/* bmi cal */

.bmi_calculator {
  padding: 5rem 10rem;
  background-color: rgb(51, 51, 51);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 20rem;
  margin-bottom: 5rem;
}

.bmi_chart table {
  border-collapse: collapse;
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-size: var(--h4);
}

table caption {
  font-size: var(--h2);
  padding-bottom: 5rem;
}

table td {
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 2rem;
}

table tbody td {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.5);
}

.check_bmi_content h3 {
  font-size: var(--h2);
  margin: 0;
}

.check_bmi_content p {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.5rem;
  font-weight: 100;
}

.check_bmi_inputs .input_row_one,
.check_bmi_inputs .input_row_two {
  display: flex;
  margin-bottom: 1rem;
}

.input_row_one input:first-child,
.input_row_two input:first-child {
  margin-right: 1rem;
}

.check_bmi_inputs input,
select {
  width: 50%;
  padding: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(78, 78, 78);
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--h5);
}

input::placeholder {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.6);
}

.check_bmi_inputs > select {
  width: 100%;
  /* margin-bottom: 4rem; */
}

.bmi_calculator .btn {
  margin-top: 3rem;
  padding: 1.2rem 3.5rem;
}

/* section membership */
.membership {
  margin: 4rem 10rem;
}

.membership h1 {
  font-size: var(--h1);
  text-align: center;
}

.membership .membership_plans {
  display: flex;
  justify-content: center;
  gap: 9rem;
  text-align: center;
}

.membership_plans .plans_one,
.membership_plans .plans_two,
.membership_plans .plans_three {
  background-color: rgb(51, 51, 51);
}

.plans_one_content,
.plans_two_content,
.plans_three_content {
  padding: 0 8rem;
}

.plans_one_content p span,
.plans_two_content p span,
.plans_three_content p span {
  font-size: var(--h2);
  color: rgb(198, 89, 64);
}

.plans_one_content p,
.plans_two_content p,
.plans_three_content p {
  font-size: var(--h5);
  color: rgb(255, 255, 255);
  line-height: 2.5rem;
  font-weight: 400;
}

.plans_one h3,
.plans_two h3,
.plans_three h3 {
  font-size: var(--h3);
  padding: 1rem 0;
  margin: 0;
  margin-bottom: 2rem;
  background: rgb(198, 89, 64);
  background: linear-gradient(
    43deg,
    rgba(198, 89, 64, 1) 0%,
    rgba(215, 62, 31, 1) 48%,
    rgba(235, 122, 15, 1) 96%
  );
}

.membership .btn {
  margin-bottom: 2rem;
  padding: 1rem 4rem;
  border-radius: 0;
  background: rgb(198, 89, 64);
  background: linear-gradient(
    43deg,
    rgba(198, 89, 64, 1) 0%,
    rgba(215, 62, 31, 1) 48%,
    rgba(235, 122, 15, 1) 96%
  );
}

/* section team */
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
  padding: 0 10rem;
}

.team_content h1,
.team_content p {
  text-align: center;
}

.team_content h1 {
  font-size: var(--h1);
}

.team_content p {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.5rem;
  font-weight: 100;
}

.team_images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  background-color: rgb(51, 51, 51);
  border-radius: 1rem;
  padding: 2rem;
}

.team_images .img_one {
  background-image: url("./images/trainer1.png");
}

.team_images .img_two {
  background-image: url("./images/trainer2.png");
}
.team_images .img_three {
  background-image: url("./images/trainer3.png");
}
.team_images .img_four {
  background-image: url("./images/trainer4.png");
}
.team_images .img_five {
  background-image: url("./images/trainer5.png");
}
.team_images .img_six {
  background-image: url("./images/trainer6.png");
}

.team_images .img_one,
.team_images .img_two,
.team_images .img_three,
.team_images .img_four,
.team_images .img_five,
.team_images .img_six {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20rem 16rem 0 2rem;
  border-radius: 1rem;
}

.team_images h4 {
  font-size: var(--h5);
}

.team_images p {
  font-size: var(--h6);
  color: rgba(255, 255, 255, 0.6);
}

/* footer */
footer {
  padding: 0 10rem;
  background-color: rgb(51, 51, 51);
  padding-top: 4rem;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}

.footer_content .left_content h1 {
  font-size: var(--h1);
  color: rgb(230, 83, 60);
  font-style: italic;
  margin: 0;
}

.footer_content .left_content p,
.footer_content .middle_content p,
.footer_content .right_content p,
footer > p {
  font-size: var(--h5);
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.2rem;
  font-weight: 100;
}

footer > p {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin: 0;
}

.footer_content h4 {
  font-size: var(--h4);
}

footer hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* 576,992 */

@media screen and (max-width: 576px) {
  /* body{
    background-color: blueviolet;
  } */

  /* nav */
  .nav {
    padding: 0 2rem;
  }

  .nav ul {
    display: none;
  }

  nav button {
    /* background-color: rgb(255, 255, 255); */
    display: block;
    font-size: 3rem;
    line-height: 1;
    border: 0;
    background: transparent;
    color: white;
  }

  nav button:hover {
    color: rgb(230, 83, 60);
    cursor: pointer;
  }

  nav button::after {
    content: "\2630";
  }

  /* hero */
  .hero_container {
    padding: 0 2rem;
    flex-direction: column;
    align-items: center;
  }

  .hero_container img {
    margin-bottom: 10rem;
  }

  .hero_container .btn_container {
    display: flex;
    justify-content: space-between;
  }

  .hero_container .video_tutorial .video_content {
    margin-top: -42rem;
    margin-left: -2rem;
    width: 45%;
  }

  .hero_container .video_tutorial .free_tutorial {
    margin-top: -26rem;
    margin-left: 22rem;
    width: 45%;
  }

  /* habits */
  .habit {
    padding: 0 2rem;
    margin-top: 30rem;
  }

  .habit_content p br {
    display: none;
  }

  .habit .habit_images {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .box_one_content h3,
  .box_one_content p,
  .box_two_content h3,
  .box_two_content p,
  .box_three_content h3,
  .box_three_content p,
  .box_four_content h3,
  .box_four_content p {
    margin: 0;
  }

  .box_one_content h3,
  .box_two_content h3,
  .box_three_content h3,
  .box_four_content h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  /* section run */
  .run {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0 2rem;
    padding: 4rem;
  }

  .run .run_content p {
    margin-top: 2rem;
  }

  .run .run_content p br {
    display: none;
  }

  .run .run_content .btn {
    width: 100%;
    margin-top: 2rem;
    padding: 1.2rem 4.5rem;
  }

  .run .run_img {
    width: auto;
  }

  .run .run_img img {
    width: 100%;
    border-radius: 1rem;
  }

  /* section bmi */
  .bmi {
    margin: 0 2rem;
    align-items: flex-start;
  }

  .bmi_content h2 {
    margin-top: 4rem;
  }

  .bmi_content p {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .bmi_content p br {
    display: none;
  }

  /* bmi cal */

  .bmi_calculator {
    padding: 5rem 2rem;
    flex-direction: column;
    gap: 4rem;
  }

  table caption {
    text-align: left;
    font-size: var(--h4);
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  .check_bmi_content h3 {
    font-size: var(--h4);
  }

  .check_bmi_content p {
    margin-bottom: 4rem;
  }

  /* section membership */
  .membership {
    margin: 4rem 8rem;
  }

  .membership .membership_plans {
    flex-direction: column;
    gap: 4rem;
  }

  /* section team */

  .team{
    margin-top: 10rem;
    padding: 0 2rem;
  }

  .team_content p br{
    display: none;
  }

  .team_content h1{

    margin: 0;
  }

  .team_images{
    grid-template-columns: 1fr;
  }

  .team_images h4 {
    font-size: var(--h4);
  }

  .team_images p {
    font-size: var(--h5);

  }

  /* footer */
footer {
  padding: 0 2rem;
  padding-top: 5rem;
}

.footer_content {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

footer > p{
  text-align: left;
}


}
